.audience {
  background-color: $light-blue-color;
  padding: 50px 15px 50px;
  box-sizing: border-box;

  &__details {
    max-width: 555px;
    margin: 0 auto;
    .blocks-content {
      &__subtitle {
        margin: 0 0 17px;
      }
      &__title {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.36px;
        margin: 0 0 18px;
      }
      &__description {
        margin: 0;
      }
    }
  }

  &__actions {
    margin: 30px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 10px;
  }

  &__list {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    color: $main-text-color;
    margin: 0;
    padding: 22px 62px 33px;
    box-sizing: border-box;
    background-color: $white-color;
    box-shadow:
      0px 4px 6px rgba(0, 0, 0, 0.05),
      0px 1px 3px rgba(0, 0, 0, 0.1),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.00001) 100%
      ),
      #fff;
    cursor: pointer;
    &:hover {
      background-color: $dark-blue-color;
      color: $white-color;
    }
  }
  &__caption {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 0;
  }
}
@media screen and (min-width: 430px) {
  .audience {
    padding: 108px 130px 110px;

    &__actions {
      margin: 34px 0 111px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
      column-gap: 10px;
    }
    &__card {
      width: calc((100% - 90px) / 4);
    }
  }
}
