.brands {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(227, 227, 227);
  gap: 1px;
  border-bottom: 1px solid rgb(227, 227, 227);

  &__item {
    width: calc((100% - 2px) / 3);
    height: 94px;
    background-color: rgb(255, 255, 255);
    align-content: center;
    text-align: center;
  }

  &__logo {
    margin: 0;
    filter: brightness(0) saturate(100%);
    max-width: 70%;

    &:hover {
      filter: none;
      transition: 200ms all ease-in-out;
    }
  }
}

@media screen and (min-width: 430px) {
  .brands {
    padding: 30px 130px 56px;
    gap: 0px;
    background-color: $white-color;
    border-bottom: 0;
    &__item {
      width: calc((100%) / 6);
      margin: 0;
      display: initial;
    }

    &__logo {
      margin: 0;
      filter: brightness(0) saturate(100%);

      &:hover {
        filter: none;
        transition: 200ms all ease-in-out;
      }
    }
  }
}
