/* Block */
.hero {
  background: $main-bg-color;
  padding-top: 0;

  &__header {
    display: flex;
    background-color: $white-color;
    padding: 0px 0 0px 15px;
    justify-content: space-between;

    &__navigation {
      margin-left: auto;
      margin-top: 7px;
      margin-right: 75px;
      display: none;
    }

    &__navigation-item {
      color: $main-text-color;
      line-height: 25px;
      letter-spacing: 0px;
      text-decoration: none;
      &--selected {
        font-weight: 700;
      }
    }
    &__navigation-item:not(:last-child) {
      margin-right: 50px;
    }

    .action-button {
      display: none;
    }
    .logo {
      &__description {
        display: none;
      }
    }

    &__menu-button {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: 0;
      border-left: 1px solid rgba(0, 0, 0, 0.15);
      padding: 26px 20px;
    }
    &__menu-icon {
      content: url('../../img/burger-menu-icon.png');
    }
  }

  &__headline {
    padding: 35px 0px 33px;
    box-sizing: border-box;
    position: relative;

    &-content {
      display: flex;
      flex-direction: column;
      position: inherit;
      z-index: 2;
      padding: 0 15px 33px;
    }

    &-title {
      color: $main-text-color;
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: -0.31px;
      text-align: left;
      max-width: 754px;
      margin: 0 0 34px;
    }

    &-description {
      color: $main-text-color;
      margin: 0 0 30px;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0px;
    }

    &-actions {
      display: flex;
      gap: 15px;
      flex-direction: column;
    }

    &-banner {
      position: inherit;
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 430px) {
  .hero {
    padding: 39px 0 126px;

    &__header {
      padding: 0 130px;
      box-sizing: border-box;
      background-color: transparent;

      &__navigation {
        display: block;
      }
      
      &__menu-button {
        display: none;
      }

      .action-button {
        display: block;
      }

      .logo {
        &__description {
          display: block;
        }
      }
    }

    &__headline {
      margin: 77px auto 0;
      padding: 0 130px;

      &-content {
        display: flex;
        flex-direction: column;
        position: inherit;
        z-index: 2;
        padding: 0;
      }

      &-title {
        font-size: 80px;
        line-height: 78px;
        max-width: 754px;
        margin: 0 0 34px;
        letter-spacing: 0;
      }

      &-description {
        max-width: 456px;
        margin: 0 0 58px;
      }

      &-actions {
        gap: 10px;
        flex-direction: row;
      }

      &-banner {
        position: absolute;
        top: 0;
        max-width: 796px;
        right: 25px;
        z-index: 1;
      }
    }
  }
}
